.cuerpo_tienda{
    justify-content: center;
}


.t_productos_tienda {
    padding: 1.25rem 0rem 2rem 0rem;
    
}   

.tienda_prod {
    @extend .cards_grid;

    
        .t_cards {
            height: 100%;
            
        div {
    
            img {
                display: grid;
                width: 100%;
                padding: 10% 10% 3% 10%;
            }
        }
    
        h4 { 
            display: grid;
            box-sizing: content-box;
            justify-self: center;
            font-size: 1.25rem;
            text-justify: distribute;
        }
    
       /*  p {
            display: grid;
            grid-template-rows: 4.6875rem;
            text-align: center;
            padding: 0rem;
        } */
    }
}

.desc {
    display: grid;
    grid-template-rows: 4.6875rem;
    text-align: center;
    padding: 0rem;
}

.cards_grid{

    h4{
        display: block;
        margin-inline-start: .125rem;
        margin-inline-end: .125rem;
    }
}

.card-text {
    margin: 0rem;
    padding: 0rem;
}



