.cuerpo_tienda{
    justify-content: center;
}

.carritoTienda {
    max-width: 18.75rem;
    border-style: ridge ;
    font-size: small;
}

.titulosCarrito {
    justify-content: center;
    font-weight: bold;
}